POSTGRES_DB=encuestas_universitarias
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_SECRET=cambia-esta-clave-en-produccion
DB_SYNC=true

WEB_PORT=8080

# Si quieres consumir la API directamente desde otro dominio, ajusta este valor.
CORS_ORIGIN=http://localhost:8080
